# 클릭 수 집계용 MongoDB Atlas 설정 (없어도 앱은 정상 동작합니다)
# https://cloud.mongodb.com 에서 클러스터를 만들고 연결 문자열을 발급받으세요.
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=linknamu
